html, body{font-family: 'Open Sans', sans-serif;}

#main{padding:10px}
#main > div {margin-top: 35px;}

input {font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      height:65px;
       border: 1px solid #cecece;
       margin: 10 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
}
.button {
      font-family: "Roboto", sans-serif;
      margin: 10px 0 10px 0;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      border: 1px solid #ffffff00 ;
      width: 10%;
      padding: 15px;
      color: #FFFFFF;
      font-size: 14px;
      -webkit-transition: all 0.3 ease;
      transition: all 0.3 ease;
      cursor: pointer;
}
.button:hover,.button:active,.button:focus {background: #43A047;
}
/*.button:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.09), 0 17px 50px 0 rgba(0,0,0,0.09);
}  */
textarea{
      width:100%;
      height:60px;
      margin-top:10px;
      background: #e5e5e5;
      border: 1px solid #cecece;
      max-width: 100%;
}
.text-danger, .text-red {color: #e55039!important;
}
      
#linkSp{
      padding: 0.375rem 0.75rem;
      font-size: .875rem;
      font-weight: 400;
      line-height: 1.5;
      color: #4f5467;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #bfbfbf;
      border-radius: 2px;
      outline:none;
            min-height: 7rem;
          max-height: 10rem;
          min-width: 100%;
}

.ketqua-group{position: relative;}
.ketqua-group > .copy-icon{position: absolute;top: 1.5rem;left: 0.65rem;}

#kqDeeplink, #kqShortlink{
      background-color: #e9ecef;
      color: #4f5467;
      padding: 0.375rem 0.75rem 0.375rem 2.5rem;
      border: none;
      border-radius: 2px;
      outline: none;
      max-height: 3rem;
      min-height: 3rem;
      min-width: 100%;
}
#qrDeeplink{max-width:25%}

#thbao{display:none}
#refreshFrame{
       cursor:pointer;
       margin:10px 0 0 5px;
       color: #0abde3!important;
}
#iframeShort{
      border: 1px solid #cecece;
}
#short{
      width:100%;
      height: 25%;
       border: 0;
       overflow: hidden;
}
#infor_camp{
      line-break: anywhere;
}
      
@media screen and (max-width:640px){
      #short{height: 30%}
      .button{width: 25%}
}

/*=== Custom ===*/
.toast__msg{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      line-break: anywhere;
      font-size: 10px;
}

/*=== Library ===*/
.titleDiv{font-size: 1rem;font-weight: 600;}

.card .card-title {
    position: relative;
    font-weight: 700;
    margin-bottom: 10px;
}


p{margin-block-start: 0em;}
.pointer{cursor: pointer}

